<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>School Members Database</title
</head>
  <body>
    <h1>School Members Database </h1>
    <a href='/input_details'> Sign up for an account </a>
    <form action="/input_details" method="GET" target="_blank">
      First name: <input type="text" name="fname"><br>
      Last name: <input type="text" name="lname"><br>
      Email: <input type="text" name="email"><br>
      School: <input type="text" name="school"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html> -->
